.idea
.venv
FIFA_datan/Event Data
FIFA_datan/Metadata
FIFA_datan/Rosters
FIFA_datan/Tracking Data
FIFA_datan/competitions.csv
FIFA_datan/PFF FC Change Log.docx
DSPFinalFIFA/__pycache__
DSPFinalFIFA/FIFA/__pycache__
